/* CART */
@import "../material_colors";

#cart {
  #main-parent-layout {
    min-height : 100vh;
  }

  main {
    align-items     : start;
    justify-content : center;
    background      : $blue-grey-100 !important;

    #profile-pre-content-padding {
      width  : 100%;
      height : 150px;
    }
    #cart-card {
      position : absolute;
      top      : 70px;
      margin   : 8px;

      .mdl-card__title {
        height : 150px;
      }

      .row-with-chip {
        display     : flex;
        align-items : center;

        .row-with-chip__title {
          font-weight  : 700;
          margin-right : 10px;
        }
      }
    }
    #profile-content-parent {
      width : 100%;
    }
  }
}