/* PROFILE */
@import "../material_colors";

#profile {
  #main-parent-layout {
    min-height : 100vh;
  }
  #view-profile-btn {
    display : none;
  }

  main {
    align-items     : start;
    justify-content : center;
    background      : $blue-grey-100 !important;

    #profile-pre-content-padding {
      width  : 100%;
      height : 150px;
    }
    #profile-card {
      position : absolute;
      top      : 90px;
      margin   : 0;
    }
    #profile-content-parent {
      width : 100%;
    }
  }
}