/* MAIN */
@import "material_colors";

dialog::backdrop {
  background-color : rgba(0, 0, 0, 0.5);
}

.mdl-badge[data-badge]:after {
  box-shadow : 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#profile-link {
  //color           : inherit;
  //text-decoration : none !important;
  cursor : pointer;
}

.mdl-menu {
  > .mdl-menu__item {
    > a {
      width : 100%;
    }
    a {
      color           : inherit;
      text-decoration : none;
      font-weight     : inherit;
    }
  }
}

.mdl-badge {
  overflow : visible !important;

  @at-root button#{&} {
    &:after {
      right : -10px !important;
    }
  }
}

.mdl-layout__drawer {
  header {
    .mdl-layout-title {
      padding    : 40px;
      margin-top : 30px;
    }
  }
}

footer {
  margin-left : 240px;

  @media screen and (max-width : 1024px) {
    margin-left : 0;
  }
}

.no-margin {
  margin : 0 !important;
}

.mdl-layout--fixed-drawer > main.mdl-layout__content {
  @media screen and (max-width : 1024px) {
    width : 100%;
  }

  width   : calc(100% - 240px);
  padding : 0;
}

.mdl-layout__header {
  -webkit-transition : all 250ms ease;
  -moz-transition    : all 250ms ease;
  -o-transition      : all 250ms ease;
  transition         : all 250ms ease;

  &:not(.is-casting-shadow) {
    background-color : $grey-100 !important;
    color            : $grey-600 !important;

    .mdl-layout__drawer-button {
      color : $grey-600 !important;
    }
  }
}
